.titulo-tipo{
	margin:55px auto 50px auto !important;
	font-weight: 800 !important;
	font-family: 'Roboto Slab', serif, Roboto, BlinkMacSystemFont;
	color: #f5f5f5;
	padding: 30px 45px 30px 45px;
	background-image: url(../img-fondo/cemento-12.jpg)  !important;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	max-width: 1180px;
	border-radius: 2px;
	
	text-shadow: 2px 0 grey;
}


@media (max-width: 576px){
 	
	.titulo-tipo{
		margin:55px auto 50px auto !important;
		font-size: 25px;
		font-weight: 700 !important;
		font-family: 'Roboto Slab', serif, Roboto, BlinkMacSystemFont;
		color: #f5f5f5;
		padding: 25px 28px 25px 28px;
		background-image: url(../img-fondo/cemento-12.jpg);
		background-size: 100%;
		background-repeat: no-repeat;

	}
	
}
